@model Survey

<form asp-controller="Home" asp-action="PostSurvey" method="POST">
    <div class="form-group">
        <label asp-for="Name"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Location"></label>
        <span asp-validation-for="Location" class="text-danger"></span>
        <select asp-for="Location" class="form-control">
            <option value="San Jose">San Jose</option>
            <option value="Chicago">Chicago</option>
            <option value="Other">Other</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="FavoriteLanguage"></label>
        <span asp-validation-for="FavoriteLanguage" class="text-danger"></span>
        <select asp-for="FavoriteLanguage" class="form-control">
            <option value="C#">C#</option>
            <option value="Java">Java</option>
            <option value="Python">Python</option>
            <option value="Javascript">Javascript</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Comment"></label>
        <span asp-validation-for="Comment" class="text-danger"></span>
        <textarea asp-for="Comment" class="form-control"></textarea>
    </div>

    <button>Submit</button>
</form>